@page "/login-google"
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.Google

<p>Initiating signin with google...</p>

@code {
    [CascadingParameter]
    public HttpContext HttpContext { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authProperties = new AuthenticationProperties
            {
                RedirectUri = "/after-login-google"
            };
        var result = TypedResults.Challenge(authProperties, [GoogleDefaults.AuthenticationScheme]);
        await result.ExecuteAsync(HttpContext);
    }
}
